body {
  margin: 0;
  padding: 0;
  
}

.header h1 {
	float: center;
	color: #9e8989;
	font-size: 40px;
	letter-spacing: 0.2em;
	word-spacing: 0.5em;

}

.header img {
	float: left;
	margin-right: 10px;

}

.navbar {
	width: 100%;
	height: 10vh;
	background-color:#9e8989;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form_container {
	width: 30%;
	margin: 10vh 35%;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	padding: 2%;
	border-radius: 8px;
}

.img {
	width:150px;
	height:150px;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 5px 0px;
	
	
}

.login_form_container {
	width: 30%;
	margin: 10vh 35% 0vh 35%;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	padding: 2%;
	/* border-radius: 5px; */
}



.createAccount_form_container {
	width: 30%;
	margin: 0vh 35% 10vh 35%;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	padding: 2%;
	/* border-radius: 5px; */

}

.createAccount_form_container p {
	text-align: center;
}


label , input {
   margin: 3% 0;
}

button {
   background-color: #0f9691;
   color: white;
   font-size: 1em;
   margin: 5% 0;
   outline: none;
   padding: 5px;
}

.admin {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
}

.homeImage {
	height: 200px;
	width: 400px;
}

.footer_top {
	text-align: right;
}

.footer_bottom {
	text-align: left;
	border-top: solid black 1px;
	font-size: 24px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 0.5em;
}

.product_box {
	width: 50%;
	margin: 10vh 25% 10vh 25%;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	padding: 2%;
	border-radius: 8px;
}


